services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    volumes:
      - .:/workspace
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    working_dir: /workspace
