@import "tailwindcss";

@theme {
  --color-hashibami-50: #faf8f2;
  --color-hashibami-100: #f2eee2;
  --color-hashibami-200: #e5dcc3;
  --color-hashibami-300: #d4c59d;
  --color-hashibami-400: #bfa46f; /* オリジナル */
  --color-hashibami-500: #b5925a;
  --color-hashibami-600: #a7804f;
  --color-hashibami-700: #8b6743;
  --color-hashibami-800: #71533b;
  --color-hashibami-900: #5c4632;
  --color-hashibami-950: #312319;
}

/* 共通ユーティリティクラス */
@layer components {
  /* リンク */
  .link,
  .link-muted {
    @apply underline underline-offset-4 transition-colors duration-150;
  }

  .link {
    @apply text-blue-600 hover:text-blue-700;
    @apply dark:text-blue-400 dark:hover:text-blue-300;
  }

  .link-muted {
    @apply text-gray-600/90 hover:text-gray-600;
    @apply dark:text-gray-600/90 dark:hover:text-gray-600;
  }

  /* フォーカス状態 */
  .link:focus,
  .link-muted:focus {
    @apply outline-none ring-2;
  }
}
